@import url("https://sb-pgjs.paygreen.fr/latest/paygreen.min.css");

.pay-form {
  width: 93%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
      border: 1px solid rgb(213, 213, 213);
    border-radius: 8px;
}

.pay-form > div {
  margin: 0.48rem;
}

.paygreen-pan-frame,
.paygreen-cvv-frame,
.paygreen-exp-frame {
  background-color: rgb(243, 243, 243);
  padding: 0 0.5rem;
  border: none !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: rgb(93, 93, 93) solid 2px !important;

  &:active, &:focus, &:hover {
    border-bottom: #0E0B26 solid 2px !important;
  }
}

.line {
  display: flex;
  justify-content: space-between;
}

.line > div {
  max-width: 48%;
}

.w-48 {
  width: 48%;
}
#paygreen-reuse-checkbox-container {
  margin-top: 1rem;
  height: 60px;
}

.label--info {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 12px;
  color: #5d5d5d;
}

.frame--activated {
  box-shadow: none;
}

@media (min-width: 540px) {
  .pay-form {
    max-width: 503px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 8px;
  }
}

.frame--invalid {
  box-shadow: none;
  border-bottom: #ff0000 solid 2px !important;
}

iframe p  {
  color: #ff0000 !important;
}

.chakra-text,
.css-niwogb {
  color: #ff0000 !important;
}


.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #5d5d5d;
}

